*, body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: unset;
  padding: unset;
  font-family: "Nunito";
}

body {
  background-color: black;
}

ul {
  list-style-type: none;
}

p {
  line-height: 30px;
}

nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.banner {
  height: 100vh;
  width: 100%;
  background-color: #ccc;
  background-image: url("../images/hero.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__menu {
  height: 25vh;
}

.contentcontain {
  width: 80%;
  margin-left: 10%;
  margin-top: 75px;
  margin-bottom: 75px;
  color: white;
}

.contentcontain__image {
  width: 40%;
  padding-top: 40%;
  background-color: white;
}

.contentcontain__header {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.menu {
  position: relative;
  z-index: 2;
  width: 80%;
  margin-left: 5%;
  border: 1px solid #ccc;
  padding: 5%;
  text-align: center;
  background-color: white;
}

.menu p {
  line-height: 20px;
  margin: 15px 0;
}

.menu__para {
  margin: 25px 0;
}

.menu__button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 30px 0 20px 0;
  overflow: hidden;
  position: relative;
}

.menu__button p {
  line-height: 30px;
  margin: unset;
}

.menu__button:hover {
  background-color: black;
}

.menu__button:hover .vm__1 {
  top: -50%;
  opacity: 0;
}

.menu__button:hover .vm__2 {
  top: 50%;
  opacity: 1;
}

.menu__html {
  margin-top: -25px;
}

.vm__1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.vm__2 {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: white;
  opacity: 0;
}

.vm__clear {
  color: transparent;
}

.gallery, .footer {
  width: 100%;
  height: 450px;
  background-color: #aaa;
  margin-top: -25px;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  height: 150px;
}

.location {
  position: relative;
  z-index: 2;
  width: 70%;
  margin-left: 10%;
  margin-top: -25px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: white;
  padding: 5%;
}

.location__head {
  padding-bottom: 25px;
  width: 100%;
}

.location__google {
  width: 100%;
  height: 200px;
  background-color: grey;
}

.location__hours-sect {
  margin: 25px 0;
}

iframe {
  width: 100%;
  height: 100%;
}

.section__header {
  text-transform: uppercase;
  border-right: 5px solid black;
  border-left: 5px solid black;
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}

.row {
  display: block;
}

.row__css {
  width: 90%;
  display: block;
  vertical-align: top;
  margin: 40px 5%;
}

.hidden {
  display: none !important;
}

.liner {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 30px 0;
}

.menu__content {
  max-height: 2000px;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.no-height {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/**MENU HTML**/
.menu__row-header {
  cursor: pointer;
}

.menu__row .liner {
  margin: unset;
}

.menu__row .section__header-sub {
  padding: 30px 0;
}

@media only screen and (min-width: 768px) {
  .menu__desktop {
    display: block;
  }
  .menu__row {
    margin-top: 30px;
  }
  .row__css {
    width: 45%;
    display: inline-block;
    margin: 30px 2.5%;
  }
}
/*# sourceMappingURL=main.css.map */